@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
// 1. Override Bootstrap variables BEFORE importing Bootstrap
$primary:   #0076c0;
$secondary: #001e31;
$tertiary:  #f58220;
$quaternary: #6dbb45;
$success:   #4caf50;
$info:      #c62828;
$warning:   #ffb300;
$danger:    #00a0c6;
$light:     #f4f8fb;
$dark:      #1a2a33;

// 2. Extend Bootstrap theme colors map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);


// Import Bootstrap SCSS after variable overrides


// Import Bootstrap SCSS after variable overrides
@import 'bootstrap/scss/bootstrap';
@import 'intl-tel-input/build/css/intlTelInput.css';

/* You can add global styles to this file, and also import other style files */
