<div class="container">
    <div class="row">

        <div class="col-md-3 col-lg-2 d-none d-md-block sidebar">
            <app-sidebar (groupSelected)="onGroupSelected($event)"></app-sidebar>
        </div>

        <div class="col-md-9 col-lg-10 ms-sm-auto px-4 py-4">

            <div class="card card-body mb-3" *ngIf="selectedGroup">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-4">
                        <div class="ratio ratio-4x3 bg-secondary rounded overflow-hidden">
                            <img *ngIf="selectedGroup?.image" [src]="selectedGroup.image" alt="{{selectedGroup?.name}}" style="object-fit:cover;width:100%;height:100%;">
                        </div>
                    </div>
                    <div class="col-8">
                        <h2 class="fw-bold mb-3">{{ selectedGroup?.name || 'Select a group' }}</h2>
                        <div *ngIf="selectedGroup?.description" class="mb-2 text-muted">{{ selectedGroup.description }}</div>
                        <div class="d-flex my-3">
                            <button class="btn btn-success btn-sm rounded" *ngIf="isMyGroupApproved" (click)="onCreatePost()">Create Post</button>
                            <span class="badge bg-warning text-dark align-self-center" *ngIf="isGroupPending">Pending Request</span>
                            <button class="btn btn-outline-primary btn-sm rounded" *ngIf="selectedGroup && !isGroupRequested" (click)="onJoinGroup()">Join</button>
                        </div>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>